body {
  margin: 0px;
}
#navbar {
  width: 100%;
  height: 70px;
  background-color: #333333;
  position: sticky;
  top: -1px;
  z-index: 9;
}
#container {
  font-family: "El Messiri", sans-serif;
  width: 100%;
  height: 1000px;
  background-color: white;
}
#title {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
#title h1 {
  margin: 0%;
}
#title h3 {
  width: 800px;
  margin: 0px;
  margin-top: 20px;
}
#cyb-benefits {
  width: 100%;
  height: 200px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
#cyb-benefits-title {
  text-align: center;
}
#cyb-benefits-title h2 {
  margin: 0%;
}
#cyb-benefits-text {
  font-family: "Tajawal", sans-serif;
  font-size: 25px;
  width: 700px;
  height: 155px;
  line-height: 1.5;
}
#cyb-benefits-text p {
  margin: 0%;
}
#cyb-container {
  width: 100%;
  height: 620px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cyb-container-title {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}

#cyb-container-title h2 {
  margin: 0%;
}
#cyb-pic {
  width: 1065px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 240px;
  /* background-color: firebrick; */
}
#cyb-pic div {
  width: 195px;
  height: 180px;
}
#cyb-pic img {
  width: 195px;
  height: 180px;
  border-radius: 15px;
}
#cyb-div {
  width: 1270px;
  height: 320px;
  /* background-color: khaki; */
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(3, 1fr);
}
.cyb {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  /* background-color: palegreen; */
}
.cyb h5 {
  margin: 10px;
}
.cyb p {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  margin: 0%;
}
