body {
  margin: 0px;
}
:root {
  --text: #000000;
  --back-1: #e9ecef;
  --Back-2: #ced4da;
  --card: #ffffff;
  --nav-hover: #ffffff;
  --nav-back: #cbdfbd;
}
.dark-theme {
  --text: #ffffff;
  --back-1: #212529;
  --Back-2: #343a40;
  --card: #6c757d;
  --nav-hover: #000000;
  --nav-back: #0d3b66;
}
#container {
  width: 100%;
  height: 2280px;
  background-color: var(--back-1);
  background-image: url("../Images/Programming-Background.jpg");
  background-repeat: no-repeat;
  background-size: 928px 617.7px;
  background-position: left top;
}

#navbar {
  width: 100%;
  height: 70px;
  background-color: var(--nav-back);
  position: sticky;
  top: 0px;
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar img {
  width: 116px;
  height: 59px;
  position: relative;
  left: 60px;
}
#links {
  width: 600px;
  height: 60px;
  position: relative;
  right: -580px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#links a {
  font-size: 23px;
  text-decoration: none;
  color: var(--text);
  line-height: 1.3;
  transition: color 0.6s ease-in-out;
}
#links a:hover {
  color: var(--nav-hover);
}

#right-side {
  width: 441px;
  height: 549px;
  background-color: var(--Back-2);
  transform: translate(908px);
}
#intro {
  font-family: "El Messiri", sans-serif;
  font-size: 35px;
  width: 500px;
  height: 440px;
  position: relative;
  bottom: 520px;
  left: 660px;
}
#intro p {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#benefits-div {
  width: 100%;
  height: 250px;
  background-color: var(--Back-2);
  position: relative;
  bottom: 435px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
#benefits-title {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 650;
}
#benefits-text {
  width: 650px;
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.benefits-text-span {
  margin: 0%;
  padding: 0%;
}
.comma {
  font-family: "El Messiri", sans-serif;
  font-size: 22px;
  margin: 0%;
}
#prog-lang {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 430px;
}
#prog-lang img {
  width: 1008px;
  height: 504px;
}
#fields {
  width: 100px;
  height: 3px;
  background-color: var(--back-1);
  position: relative;
  top: -520px;
}
#prog-title {
  font-family: "El Messiri", sans-serif;
  font-size: 30px;
  font-weight: 650;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  position: relative;
  bottom: 405px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--Back-2);
}
#line-1 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 405px;
  background-color: var(--Back-2);
}
#line-1 a {
  text-decoration: none;
  color: black;
}
#line-2 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 405px;
  background-color: var(--Back-2);
  padding-bottom: 25px;
}
#line-2 a {
  text-decoration: none;
  color: black;
}
.card {
  color: var(--text);
  font-family: "El Messiri", sans-serif;
  font-size: 23px;
  width: 230px;
  height: 300px;
  background-color: var(--card);
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.card:hover {
  box-shadow: 0px 0px 20px var(--text);
}
.card-text {
  color: var(--font-color);
  position: relative;
  top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-text h3 {
  margin: 0px;
}
.card-text h4 {
  margin: 0px;
}
#card-1 img {
  width: 198px;
  height: 178px;
  position: relative;
  bottom: 66px;
}
#card-2 h3 {
  font-size: 20px;
}
#card-2 img {
  width: 198px;
  height: 178px;
  position: relative;
  bottom: 45px;
}
#card-3 img {
  width: 198px;
  height: 178px;
  position: relative;
  bottom: 63px;
}
#card-3 h4 {
  font-size: 25px;
}
#card-4 img {
  width: 198px;
  height: 178px;
  position: relative;
  bottom: 66px;
}
#footer {
  width: 100%;
  height: 100px;
  background-color: #0d3b66;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
