body {
  margin: 0px;
}
#navbar {
  width: 100%;
  height: 70px;
  background-color: #333333;
  position: sticky;
  top: -1px;
  z-index: 9;
}
#container {
  font-family: "El Messiri", sans-serif;
  width: 100%;
  height: 3120px;
  background-color: white;
}
#title {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  margin-top: 20px;
}
#title h1 {
  margin: 0%;
}
#title h3 {
  width: 800px;
}
#front-end {
  width: 100%;
  height: 840px;
  position: relative;
  bottom: -51px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}
#front-end-title {
  width: 100%;
  height: 80px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-top: 20px;
}
#front-end-title p {
  margin: 0%;
}
#front-end-text {
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  width: 1050px;
  text-align: center;
}

#front-lang-title {
  position: relative;
  top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(60, 60, 60);
}
.lang-pic {
  width: 1150px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 220px;
  position: relative;
  left: 45px;
  top: 20px;
}
.lang-pic div {
  width: 150px;
  height: 150px;
}
.lang-pic img {
  width: 150px;
  height: 150px;
}
#lang-position {
  position: relative;
  bottom: 15px;
}
#lang-container {
  width: 100%;
  height: 600px;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#lang-div {
  width: 1300px;
  height: 370px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.lang {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
.lang h5 {
  margin: 20px;
}
.lang p {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  margin: 0%;
}
#lang-youtube {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 50px;
  color: rgb(60, 60, 60);
}
#lang-youtube-title h2 {
  margin: 0%;
}
#lang-youtube-text {
  width: 600px;
  height: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#framework-intro {
  width: 100%;
  height: 250px;
  background-color: #eeeeee;
  position: relative;
  top: 50px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#framework-title {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#framework-title h2 {
  margin: 0%;
  color: rgb(60, 60, 60);
}
#framework-text {
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  width: 1050px;
  height: 140px;
  text-align: center;
  margin-bottom: 15px;
}
#framework-text p {
  margin: 0%;
}
#framework-position-big {
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  position: relative;
  top: 50px;
}
#framework-position-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -35px;
}
.framework-pic {
  width: 720px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 420px;
  position: relative;
  top: 50px;
  margin-top: 15px;
}
.framework-pic div {
  width: 150px;
  height: 150px;
}
.framework-pic img {
  width: 150px;
  height: 150px;
}
.framework-pic-2 {
  width: 720px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 420px;
  position: relative;
  top: 80px;
}
.framework-pic-2 div {
  width: 150px;
  height: 150px;
}
.framework-pic-2 img {
  width: 150px;
  height: 150px;
}
.framework-container {
  width: 1080px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 50px;
}
.framework-container-2 {
  width: 1080px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  top: 80px;
}
.framework {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
.framework h5 {
  margin: 10px;
}
.framework p {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  margin: 0%;
}
#framework-youtube {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 60px;
  background-color: white;
}
#framework-youtube-title h2 {
  margin: 0%;
  color: rgb(60, 60, 60);
}
#framework-youtube-text {
  width: 600px;
  height: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#back-end-container {
  width: 100%;
  height: 700px;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 110px;
}
#back-end-title {
  width: 100%;
  height: 80px;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
}
#back-end-title p {
  margin: 0%;
}
#back-end-text {
  font-family: "Tajawal", sans-serif;
  font-size: 23px;
  width: 1050px;
  text-align: center;
}
#back-lang-title {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 10px;
  color: rgb(60, 60, 60);
}
#back-lang-title h2 {
  margin: 0%;
}
#php-pic {
  width: 160px;
  height: 86.4375px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#php-pic img {
  width: 160px;
  height: 86.4375px;
}
#php {
  width: 515px;
  font-family: "Tajawal", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
#php h5 {
  margin: 20px;
}
#php p {
  font-family: "Tajawal", sans-serif;
  font-size: 20px;
  margin: 0%;
}
